﻿@model IEnumerable<RMMS_MVC.Models.OpenTroubleTicket>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "grid";
    //WebGrid grid = new WebGrid(Model);
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string jsonModel = JsonConvert.SerializeObject(Model);
}
<h2 align="center">
    <img height="45px" src="../../images/Open-Folder-Warning.png" />
    OPEN TROUBLE TICKET DETAILS
</h2>
<h6 align="center" style="color: blue;">
    Auto refresh in every 30 Seconds.
</h6>
<script type="text/javascript">

    
</script>
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">
                    TOTAL TICKETS</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">@Model.Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">
                    CRITICAL</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.ProblemSeverity == "High").Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">
                    NON CRITICAL</div>
                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.ProblemSeverity == "Medium").Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">
                    WARNING</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.ProblemSeverity == "Low").Count()</div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 15px;">
        <div style="border: 1px solid silver;">
            <canvas id="problemChart"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 15px;">
        <div id="divProblemRegionChart" style="border: 1px solid silver; display: none;">
            <canvas id="problemRegionChart"></canvas>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="tblBanks" class="table table-bordered table-hover">
        <thead style="background-color: #A41316; color: White;">
            <tr>
                <th>
                    Sr. No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemIcon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TroubleTicketID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SST_TerminalID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
              @*  <th>
                    @Html.DisplayNameFor(model => model.BranchCode)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SST_TYPE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Problem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Repeatcount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemSeverity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemDateTime)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.FollowUp)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                @* <th>
                @Html.HiddenFor(model => model.Problm)
            </th>
             <th>
                @Html.HiddenFor(model => model.Device)
            </th>*@ @*   <th>
            @Html.DisplayNameFor(model => model.SST_ServiceArea)
        </th>
      <th>
            @Html.DisplayNameFor(model => model.SST_Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProblemResolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemCategory)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.SSTTypeID)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.SSTBranchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTBankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankShotName)
        </th>*@
            </tr>
        </thead>
        @{
            int index = 0;
            foreach (var item in Model)
            {
                index++;
            <tr>
                <td>
                    @index
                </td>
                <td>
                    <img src="~/images/@item.ProblemIcon" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TroubleTicketID)
                </td>
                <td>
                    @Html.ActionLink(item.SST_TerminalID, "TerminalID", new { TerminalID = item.SST_TerminalID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.BranchCode)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SST_TYPE)
                </td>
                <td style="background-color:#@item.ProblemColorCode;">
                    @Html.ActionLink(item.Problem, "Problem", new { TerminalID = item.SST_TerminalID }, new { style="color:white;" })
                    @* @Html.DisplayFor(modelItem => item.Problem)*@
                </td>
                <td>
                    @* @Html.ActionLink(item.Repeatcount, "RepeatCount", new { TerminalID = item.SST_TerminalID }, new { problm = item.problm }, new { Device = item.Device })*@
                    @if(Convert.ToInt32(item.Repeatcount)>0){
                    <span>
                    @Html.ActionLink(item.Repeatcount, "RepeatCount", new { TerminalID = item.SST_TerminalID, problm = item.problm, Device = item.Device })
                    </span>
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemSeverity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemDateTime)
                </td>
                @* <td>
                @Html.DisplayFor(modelItem => item.FollowUp)
            </td>*@
                <td>
                    <span class="less">
                        @item.Comment.Substring(0, 15)
                        <a href="javascript:void(0);" onclick="more(this)">more</a> </span><span class="more"
                            style="display: none;">
                            @Html.DisplayFor(modelItem => item.Comment)
                            <a href="javascript:void(0);" onclick="less(this)">less</a> </span>
                </td>
                @*     <td>
            @Html.DisplayFor(modelItem => item.SST_ServiceArea)
        </td>
        
    <td>
            @Html.DisplayFor(modelItem => item.SST_Name)
        </td>
       
       
       
        <td>
            @Html.DisplayFor(modelItem => item.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType)
        </td>
       
        
         <td>
            @Html.DisplayFor(modelItem => item.ProblemResolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemCategory)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SSTTypeID)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SSTBranchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSTBankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankShotName)
        </td>*@
            </tr>
            }
        
        }
    </table>
</div>
@section Scripts{
    @*https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js drop down Configurable*@
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
        type="text/css" rel="Stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/linq.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var dynamicColors = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };
    </script>
    <script type="text/javascript">
        var model= @Html.Raw(jsonModel);
        
        function initProblemChart(){
        debugger;
            var problemModel=Enumerable.From(model).GroupBy("$.Problem").Select("r => { problem : r.Key(), details : r.ToArray() }").ToArray();
            problemModel = problemModel.map(function(o){
                o.backgroundColor = dynamicColors();
                return o;
            });
            var ctx = document.getElementById('problemChart').getContext('2d');
            ctx.height = 300;
            var myPieChart = new Chart(ctx,{
                type: 'doughnut',
                data: {
                        datasets: [{
                            backgroundColor: problemModel.map(function(o){return o.backgroundColor}),
                            data: problemModel.map(function(o){return o.details.length})
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels:problemModel.map(function(o){return o.problem})
                    },
                options: {
                    title: {
                        display: true,
                        fontSize:20,
                        text: 'Problem Wise Chart',
                        padding: 5,
                        fontColor: "black"
                    },
                    responsive: true,
                    maintainAspectRatio: true,    
                    onClick:function(c,i){
                        e = i[0];
                        initProblemRegionChart(problemModel, e._index);
                        },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            });
        }
        function initProblemRegionChart(problemModel, index){
            var problemRegionModel=Enumerable.From(problemModel[index].details).GroupBy("$.RegionName").Select("r => { regionName : r.Key(), details : r.ToArray() }").ToArray();
            problemRegionModel = problemRegionModel.map(function(o){
                o.backgroundColor = dynamicColors();
                return o;
            });
            $("canvas#problemRegionChart").remove();
            $('#divProblemRegionChart').append('<canvas id="problemRegionChart"></canvas>');
            $('#divProblemRegionChart').show();
            var ctxProblemRegionChart = document.getElementById('problemRegionChart').getContext('2d');
            var details = {
                type: 'bar',
                data: {
                        datasets: [{
                            label:"Regions",
                            backgroundColor: problemRegionModel.map(function(o){return o.backgroundColor}),
                            data: problemRegionModel.map(function(o){return o.details.length}),
                            //xAxisID:"0"
                            //yAxisID:"0"
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels:problemRegionModel.map(function(o){return o.regionName})
                    },
                options: {
                    title: {
                        display: true,
                        fontSize:20,
                        text: 'Region wise Problem',
                        padding: 5,
                        fontColor: "black"
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                        fontColor: "#000080"
                        }
                    },
                    scales:{
                        yAxes:[
                            {
                                ticks:{
                                    beginAtZero:true
                                }
                            }
                        ]
                    }
                }
            };
            var problemRegionChart = new Chart(ctxProblemRegionChart,details);
            //problemRegionChart.destroy();
            //problemRegionChart = new Chart(ctxProblemRegionChart,details);
        }
        $('#tblBanks').DataTable({ "lengthMenu": [[10, 25, -1], [10, 25, "All"]] });
        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                location.reload(true);
            }, timeoutPeriod);
        }
        function more(e) {
            $(e).closest('span').hide();
            $(e).closest('td').children('span.more').show();
        }
        function less(e) {
            $(e).closest('span').hide();
            $(e).closest('td').children('span.less').show();
        }
        initProblemChart();
       // timedRefresh(60000);
    </script>
}
