﻿@model IEnumerable<RMMS_MVC.Models.OpenTroubleTicketProblem>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Problem";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string jsonModel = JsonConvert.SerializeObject(Model);
    string terminalID = Request.QueryString["TerminalID"];
}
<div>
<table width="100%">
<tr>
<td width="20%">
 @Html.ActionLink(" ", "Grid" ,null , 
    new {
        style = "background: url('" + Url.Content("~/images/Picture1.png") + "') no-repeat; display:block; height:55px; width:55px;" ,
        title = "Back"
    })
</td>
<td width="80%">
 <h2 align="center" >
    <img height="45px" src="../../images/Open-Folder-Warning.png" />
    Last 90 days Trouble Ticket History for Terminal :@terminalID
</h2>
</td></tr>
</table>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        @foreach (var item in Model)
        {
            
                
            <td>
                <img src="~/images/@item.IconText" />
                @* @Html.DisplayFor(modelItem => item.Icon)*@
            </td>
        }
        <td rowspan="12" width="50%" height="80%">
            <div class="row clearfix" height="80%">
                <div>
                    <div style="border: 1px solid silver;">
                        <canvas id="problemChart"></canvas>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketID)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.TicketID)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.Time)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.Device)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        @foreach (var item in Model)
        {
          
            <td style="background-color:#@item.Color">
                @Html.DisplayFor(modelItem => item.Problem)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serverity)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.Serverity)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeElapsed)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.TimeElapsed)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProblemStatus)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.ProblemStatus)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.Comment)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedVendor)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.AssignedVendor)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CloseStatus)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.CloseStatus)
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        @foreach (var item in Model)
        {
            <td>@Html.DisplayFor(modelItem => item.Resolution)
            </td>
        }
    </tr>
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.IconText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate_DateTime)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.IconText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate_DateTime)
        </td>
       
    </tr>
}*@
</table>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/linq.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var dynamicColors = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };
    </script>
    <script type="text/javascript">
        var model= @Html.Raw(jsonModel);
        
        function initProblemChart(){
        debugger;
            var problemModel=Enumerable.From(model).GroupBy("$.Device").Select("r => { Device : r.Key(), details : r.ToArray() }").ToArray();
            problemModel = problemModel.map(function(o){
                o.backgroundColor = dynamicColors();
                return o;
            });
            var ctx = document.getElementById('problemChart').getContext('2d');
            ctx.height = 300;
            var myPieChart = new Chart(ctx,{
                type: 'doughnut',
                data: {
                        datasets: [{
                            backgroundColor: problemModel.map(function(o){return o.backgroundColor}),
                            data: problemModel.map(function(o){return o.details.length})
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels:problemModel.map(function(o){return o.Device})
                    },
                options: {
                    title: {
                        display: true,
                        fontSize:20,
                        text: 'Device Wise Chart',
                        padding: 5,
                        fontColor: "black"
                    },
                    responsive: true,
                    maintainAspectRatio: true,    
                    onClick:function(c,i){
                        e = i[0];
                        initProblemRegionChart(problemModel, e._index);
                        },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            });
        }
        initProblemChart();
       // timedRefresh(60000);
       
    </script>
}
