﻿@model IEnumerable<RMMS_MVC.Models.OpenTroubleTicketRepeatCount>

@{
    ViewBag.Title = "RepeatCount";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string terminalID = Request.QueryString["TerminalID"];
}
<div>
<table width="100%">
<tr>
<td width="20%">
 @Html.ActionLink(" ", "Grid" ,null , 
    new {
        style = "background: url('" + Url.Content("~/images/Picture1.png") + "') no-repeat; display:block; height:55px; width:55px;" ,
        title = "Back"
    })
</td>
<td width="80%">
@*@foreach (var item in Model)
{*@
 <h2 align="center" >
    <img height="45px" src="../../images/Open-Folder-Warning.png" />
    Trouble Ticket Repeat fault History for Terminal :@terminalID
</h2>
  @*  }*@
</td></tr>
</table>
</div>

<table class="table table-bordered table-hover">
    <tr>

        <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Icon)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.TicketID)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Time)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Device)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Problem)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Serverity)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.TimeElapsed)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.ProblemStatus)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Comment)
        </th>
         <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.AssignedVendor)
        </th>
        <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.CloseStatus)
        </th>
        <th bgcolor="#a41316" style="color: white; text-align: center">
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        </tr>

        @foreach (var item in Model)
        { 
            <tr>
            <td>
                <img src="~/images/@item.IconText" />
                @*  @Html.DisplayFor(modelItem => item.Icon)*@
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Device)
            </td>
             <td style="background-color:#@item.Color">
               @Html.ActionLink(item.Problem, "Problem", new { TerminalID = item.SST_TerminalID }, new { style="color:white;" })
              @*  @Html.DisplayFor(modelItem => item.Problem, new { style = "color:white;" }))*@
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Serverity)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TimeElapsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemStatus)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.AssignedVendor)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.CloseStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
    </tr>
        }

   @*   
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate_DateTime)
        </th>
      
@foreach (var item in Model)
{
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate_DateTime)
        </td>
}*@

</table>
