﻿@model IEnumerable<RMMS_MVC.Models.OpenTroubleTicketRepeatCount>

@{
    ViewBag.Title = "RepeatCount11";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
}

<h2>RepeatCount11</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serverity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeElapsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedVendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_TerminalID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serverity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeElapsed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedVendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate_DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_TerminalID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
