﻿@model IEnumerable<RMMS_MVC.Models.OpenTroubleTicketTerminal>

@{
    ViewBag.Title = "TerminalID";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string terminalID = Request.QueryString["TerminalID"];
}
<div>
<table width="100%">
<tr>
<td width="20%">
 @Html.ActionLink(" ", "Grid" ,null , 
    new {
        style = "background: url('" + Url.Content("~/images/Picture1.png") + "') no-repeat; display:block; height:55px; width:55px;",
        title = "Back"
    })
</td>
<td width="80%">
 <h2 align="center" >
    <img height="45px" src="../../images/Open-Folder-Warning.png" />
    Terminal Information :@terminalID
</h2>
</td></tr>
</table>
</div>
<table class="table table-bordered table-hover">
@foreach (var item in Model)
{ 
            <tr>
        <th colspan="3" bgcolor="#a41316" style="color: white; text-align: center">
            Terminal Details
        </th>
        <th colspan="5" bgcolor="#a41316" style="color: white; text-align: center">
            Vendor Details
        </th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.TerminlaID)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.TerminlaID)
        </td>
        <th>
            Vendor
        </th>
        <th>
            Name
        </th>
        <th>
            ContactPerson
        </th>
        <th>
            Number
        </th>
        <th>
            EmailID
        </th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Bank)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.Bank)
        </td>
        <th>
            SLM
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.SLM)
        </td>
        <td>@Html.DisplayFor(modelItem => item.SLM_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.SLM_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.SLM_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Region)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.Region)
        </td>
        <th>
            FLM
        </th>
        <td>@Html.DisplayFor(modelItem => item.FLM)
        </td>
        <td>@Html.DisplayFor(modelItem => item.FLM_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.FLM_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.FLM_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Branch)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.Branch)
        </td>
        <th>
            Cash
        </th>
        <td>@Html.DisplayFor(modelItem => item.Cash)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Cash_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Cash_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Cash_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.SSTType)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.SSTType)
        </td>
        <th>
            Network
        </th>
        <td>@Html.DisplayFor(modelItem => item.Network)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Network_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Network_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Network_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LinkType)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.LinkType)
        </td>
        <th>
            Monitoring
        </th>
        <td>@Html.DisplayFor(modelItem => item.Monitoring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monitoring_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Monitoring_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Monitoring_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IP)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.IP)
        </td>
        <th>
            TIS
        </th>
        <td>@Html.DisplayFor(modelItem => item.TIS)
        </td>
        <td>@Html.DisplayFor(modelItem => item.TIS_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.TIS_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.TIS_EmailID)
        </td>
    </tr>
    
    <tr>
        <th>@Html.DisplayNameFor(model => model.Address)
        </th>
        <td colspan="2" style="width: 20px; word-wrap:break-word;">@Html.DisplayFor(modelItem => item.Address)
        </td>
        <th>
            UPS
        </th>
        <td>@Html.DisplayFor(modelItem => item.UPS)
        </td>
        <td>@Html.DisplayFor(modelItem => item.UPS_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.UPS_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.UPS_EmailID)
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.SST_ServiceArea)
        </th>
        <td colspan="2">@Html.DisplayFor(modelItem => item.SST_ServiceArea)
        </td>
        <th>
            AC
        </th>
        <td>@Html.DisplayFor(modelItem => item.AC)
        </td>
        <td>@Html.DisplayFor(modelItem => item.AC_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.AC_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.AC_EmailID)
        </td>
    </tr>
    <tr>
        <th colspan="3">
        </th>
        <th>
            Helpdesk
        </th>
        <td>@Html.DisplayFor(modelItem => item.HelpDesk)
        </td>
        <td>@Html.DisplayFor(modelItem => item.HelpDesk_ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HelpDesk_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.HelpDesk_EmailID)
        </td>
    </tr>
    <tr>
       <th colspan="3">
        </th>
        <th>
            HouseKeeping
        </th>
        <td>@Html.DisplayFor(modelItem => item.HouseKeeping)
        </td>
        <td>@Html.DisplayFor(modelItem => item.HouseKeeping_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.HouseKeeping_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.HouseKeeping_EmailID)
        </td>
    </tr>
    <tr>
    <th colspan="3">
        </th>
        <th>
            Consumable
        </th>
        <td>@Html.DisplayFor(modelItem => item.Consumable)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Consumable_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Consumable_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Consumable_EmailID)
        </td>
    </tr>
    <tr>
    <th colspan="3">
        </th>
        <th>
            Other
        </th>
        <td>@Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Other_ContactPerson)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Other_ContactNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Other_EmailID)
        </td>
    </tr>
    <tr>
        <th colspan="8" bgcolor="#a41316" style="color: white; text-align: center">
            Access Timing
        </th>
    </tr>

    <tr>
        <th>
            Day
        </th>
        <th>
            Sunday
        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th>
            Saturday
        </th>
    </tr>
    <tr>
        <th>
            From
        </th>
        <td>@Html.DisplayFor(modelItem => item.Sunday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Monday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Tuesday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Wednesday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Thursday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Friday_FromTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Saturday_FromTime)
        </td>
    </tr>
    <tr>
        <th>
            To
        </th>
        <td>@Html.DisplayFor(modelItem => item.Sunday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Monday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Tuesday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Wednesday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Thursday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Friday_ToTime)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Saturday_ToTime)
        </td>
    </tr>          
   
}
</table>
