﻿@model IEnumerable<RMMS_MVC.Models.MenuModel>
@{
    string ulCls = ViewData["child"] != null ? "ml-menu" : "list";
}
<ul class="@ulCls">
@if (ulCls == "list")
{ 
 <li class="header">MAIN NAVIGATION</li>
}
    @foreach (var item in Model)
    {
        string clsActive = item.IsActive ? "active" : "";
        string cls = "";
        bool isParent = false;
        if (item.ChildMenus != null && item.ChildMenus.Count > 0)
        {
            cls += " menu-toggle";
            isParent = true;
        }
        
        <li class="@clsActive"><a href="@item.Url" class="@cls">
        @if (item.ChildMenus != null)
        {
        <span>@item.Title
        </span>
        }
        else
        { 
            @Html.Raw(item.Title);        
        }
        
        </a>
            @{
        if (isParent)
        {
            Html.RenderPartial("_SideBar", item.ChildMenus, new ViewDataDictionary { { "child", true } });
        }
            }
        </li>
    }
</ul>