﻿@model RMMS_MVC.Models.CityMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "CityMaster", FormMethod.Post, new { id = "frmCityMaster" }))
{
    @Html.ValidationSummary(true)
    <style type="text/css">
        .style3
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10px;
            width: 184px;
        }
        .label
        {
            font-size: 10px;
            width: 184px;
        }
    </style>
    <fieldset>
        <legend>CityMaster</legend>
        @Html.HiddenFor(model => model.CityID)
        <table>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.CityName)
                </td>
                <td>
                    @Html.EditorFor(model => model.CityName)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.CityName)
                </td>
                <td>
                    *
                    @Html.LabelFor(model => model.SSTGroupID)
                </td>
                <td style="padding:10px">
                    @Html.DropDownListFor(model => model.SSTGroupID, new SelectList(ViewBag.SstGroupMaster, "SSTGroupID", "SSTGroupName"), "Select Zone", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.SSTGroupID) 
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.State)
                </td>
                <td>
                    @Html.EditorFor(model => model.State)
                </td>
               <td class="style3">
                    @Html.ValidationMessageFor(model => model.State)
                </td>
                <td> *
                    @Html.LabelFor(model => model.PinCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PinCode, new { maxlength = 6 })
                </td>
               <td class="style3">
                    @Html.ValidationMessageFor(model => model.PinCode)
                </td>
                <td>
                </td>
            </tr>
        </table>
       
    </fieldset>
}