﻿@model IEnumerable<RMMS_MVC.Models.ScreenShot>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "ScreenShot";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string jsonModel = JsonConvert.SerializeObject(Model);
}

<h2 align="center">
    <img height="45px" src="../../images/Screenshot-icon.png" />
    Multiple Terminal Screen Shot
</h2>

<div class="table-responsive">
<table id="tblBanks" class="table table-bordered table-hover">
        <thead style="background-color: #A41316; color: White;">
    <tr>
    <th>
    CheckBox
    </th>
    <th>
      Sr. No
       </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_ServiceArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_TYPE)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SSTID)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IP)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.SST_TypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTTypeID)
        </th>*@
        
    </tr>
    </thead>

@{
    int index=0;
    foreach (var item in Model) {
    index++;
    <tr>
    <td>
    @Html.CheckBoxFor(modelItem => item.Selected)
 
   
    </td>
        <td>
        @index
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_ServiceArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_TYPE)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.SSTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
    @*    <td>
            @Html.DisplayFor(modelItem => item.SST_TypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSTTypeID)
        </td>*@
       
    </tr>
}
}

</table>
</div>
@section Scripts{
    @*https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js drop down Configurable*@
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
        type="text/css" rel="Stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
      <script type="text/javascript">
        
        $('#tblBanks').DataTable({ "lengthMenu": [[10, 25, -1], [10, 25, "All"]] });
        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                location.reload(true);
            }, timeoutPeriod);
        }
        
        initProblemChart();
       // timedRefresh(60000);
    </script>
}
