﻿@model RMMS_MVC.Models.BankMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "BankMaster", FormMethod.Post, new { id = "frmBankMaster" }))
{
    @Html.ValidationSummary(true)
    <style type="text/css">
        .style3
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10px;
            width: 184px;
        }
        .label
        {
            font-size: 10px;
            width: 184px;
        }
        
    </style>
    <fieldset>

        <table align="center" id="tblBank" >
            @Html.HiddenFor(model => model.BankID)
            <tr>
                <td colspan="8">
                    @*  <img src= "@Url.Content("~/images/error.png")" alt="IMAGES" />*@
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BankName)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.BankName, new { maxlength = 50 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BankName)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BankShotName)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.BankShotName, new { maxlength = 6 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BankShotName)
                </td>
            </tr>
          <tr data-group="Address" data-target="textarea">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_HO_Address1)
                </td>
                <td style="padding:10px">
                    @Html.TextAreaFor(model => model.Bank_HO_Address1, new { maxlength =300 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_HO_Address1)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_HO_Address2)
                </td>
                <td style="padding:10px">
                    @Html.TextAreaFor(model => model.Bank_HO_Address2, new { maxlength = 500 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_HO_Address2)
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.CityID)
                </td>
                <td style="padding:10px">
                    @Html.DropDownListFor(model => model.CityID, new SelectList(ViewBag.Cities, "CityID", "CityName"),"Select City", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.CityID)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_ContactName)
                </td>
                <td  style="padding:10px">
                    @Html.TextBoxFor(model => model.Bank_ContactName, new { maxlength = 30 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_ContactName)
                </td>
            </tr>
            <tr data-group="Contact No.">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_ContactNo1)
                </td>
                <td  style="padding:10px">
                    @Html.TextBoxFor(model => model.Bank_ContactNo1, new { maxlength = 12 ,@type ="number"})
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_ContactNo1)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_ContactNo2)
                </td>
                <td  style="padding:10px">
                    @Html.TextBoxFor(model => model.Bank_ContactNo2, new { maxlength = 50 ,@type ="number" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_ContactNo2)
                </td>
            </tr>
            <tr data-group="Email ID">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_EmailID1)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_EmailID1)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_EmailID1)
                </td>
                <td>
                </td>
                <td>@Html.LabelFor(model => model.Bank_EmailID2)
                </td  >
                <td style="padding:10px">@Html.EditorFor(model => model.Bank_EmailID2)
                </td>
                <td class="style3" id="errfn">   
                 @Html.ValidationMessageFor(model => model.Bank_EmailID2)
                </td>
            </tr>
             <tr data-group="FTP Address">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTPAddress1)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTPAddress1)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTPAddress1)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTPAddress2)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTPAddress2)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTPAddress2)
                </td>
            </tr>
             <tr data-group="FTP Port">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTPPort1)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTPPort1)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTPPort1)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTPPort2)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTPPort2)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTPPort2)
                </td>
            </tr>
             <tr data-group="FTP UserID">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTP1UserID)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTP1UserID)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTP1UserID)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTP2UserID)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTP2UserID)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTP2UserID)
                </td>
            </tr>
             <tr data-group="FTP Password">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTP1Password)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTP1Password)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTP1Password)
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.Bank_FTP2Password)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_FTP2Password)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_FTP2Password)
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                   <td>
                    @Html.LabelFor(model => model.Bank_ExtrctdFileLoc)
                </td>
                <td  style="padding:10px">
                    @Html.EditorFor(model => model.Bank_ExtrctdFileLoc)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Bank_ExtrctdFileLoc)
                </td>
            </tr>
        </table>
    </fieldset>
}

