﻿@model RMMS_MVC.Models.BankMaster

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
}
<script type="text/javascript">

    
</script>

<div>
    <h2 align="center" >
        <img width="35px" src="../../images/bank%20(1).png" />
        Bank Details</h2>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
        onclick="clearTextBox();">
        Add New Bank</button>
    <button id="exportButton" class="btn btn-info">
        <span class="fa fa-file-pdf-o"></span>Export to PDF</button>
    <button id="exportButton1" class="btn btn-primary">
        <span class="fa fa-file-pdf-o"></span>Export to Excel</button>
    <br />
    <br />
    <div>
        <table id="tblBanks" class="table table-bordered table-hover">
            <thead style="background-color: #A41316; color: White;">
                <tr>
                    <th>Sr. No</th>
                    <th>BankName</th>
                    @*<th>BankShotName</th>*@
                    @*<th>Bank_HO_Address1</th>*@
                    @*<th>Bank_HO_Address2</th>*@
                    <th>CityID</th>
                    <th>Bank_ContactName</th>
                    <th>Bank_ContactNo1</th>
                    @*<th>Bank_ContactNo2</th>*@
                    <th>Bank_EmailID1</th>
                    @*<th>Bank_EmailID2</th>
                    <th>Bank_FTPAddress1</th>
                    <th>Bank_FTPAddress2</th>
                    <th>Bank_FTPPort1</th>
                    <th>Bank_FTPPort2</th>
                    <th>Bank_FTP1UserID</th>
                    <th>Bank_FTP2UserID</th>
                    <th>Bank_FTP1Password</th>
                    <th>Bank_FTP2Password</th>
                    <th>Bank_ExtrctdFileLoc</th>*@
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x
                    </button>
                <h4 class="modal-title" id="myModalLabel" align="left">  <img width="35px" src="../../images/bank%20(1).png" />
                 BANK PROFILE</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Create","BankMaster") @* <form>*@
                  </div>
                  <div style="color:Red;text-align:center;">
                  <ul id="errMessage" style="text-align:left;"></ul>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add();">
                    Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none;"
                    onclick="Update();">
                    Update</button>
                     <button type="button" class="btn btn-primary" id="btnAdd" onclick="return clearTextBox();">
                   Clear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js drop down Configurable*@
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
        type="text/css" rel="Stylesheet" />
    <script src="../../Scripts/Bank.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
     <script  type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function exportTableToPDF(id, cols) {
            var pdf = new jsPDF('p', 'pt', 'letter');

            pdf.cellInitialize();
            pdf.setFontSize(10);
            $.each($('#' + id + ' tr'), function (i, row) {
                $.each($(row).find("th"), function (j, cell) {
                    if (cols[j].action == 'skip')
                        return false;
                    var txt = $(cell).text().trim() || " ";
                    var width = cols[j].width;
                    pdf.setFontStyle('bold');
                    pdf.cell(10, 50, width, 30, txt, i);
                });

                $.each($(row).find("td"), function (j, cell) {
                    if (cols[j].action == 'skip')
                        return false;
                    var txt = $(cell).text().trim() || " ";
                    var width = cols[j].width;
                    pdf.setFontStyle('');
                    pdf.cell(10, 50, width, 20, txt, i);
                });
            });

            pdf.save('BankDetails.pdf');
        }
        jQuery(function ($) {

            $("#exportButton").click(function () {
                exportTableToPDF('tblBanks',
                [
                    {
                        action: 'take',
                        width: 35
                    },
                    {
                        action: 'take',
                        width: 90
                    },
                     {
                         action: 'take',
                         width: 80
                     },
                      {
                          action: 'take',
                          width: 100
                      },
                       {
                           action: 'take',
                           width: 100
                       },
                    {
                        action: 'take',
                        width: 120
                    },
                    

                    
                    {
                        action: 'skip'
                    }
                ]

                );
                return;
                // parse the HTML table element having an id=exportTable
                var dataSource = shield.DataSource.create({
                    data: "#tblBanks",
                    schema: {
                        type: "table",
                        fields: {
                            "Sr. No": { type: Number },
                            "BankName": { type: String }, //space blank 
                            "City_Name": { type: String },
                            "Bank_ContactName": { type: String },
                            "Bank_ContactNo1": { type: String },
                            "Bank_EmailID1": { type: String }

                        }
                    }
                });

                // when parsing is done, export the data to PDF
                dataSource.read().then(function (data) {
                    var pdf = new shield.exp.PDFDocument({
                        author: "PrepBootstrap",
                        created: new Date()
                    });
                    debugger;
                    pdf.addPage("a4", "portrait");

                    pdf.table(
                    50,
                    50,
                    data,
                    [
                        { field: "Sr. No", title: "Sr. No", width: 50 },
                          { field: "BankName", title: "Bank Name", width: 80 },
                       
                        { field: "City_Name", title: "City Name", width: 50 },
                        { field: "Bank_ContactName", title: "Bank ContactName", width: 50 },
                        { field: "Bank_ContactNo1", title: "Bank ContactNo", width: 100 },
                        { field: "Bank_EmailID1", title: "Bank EmailID", width: 80 },
                    ],
                    {
                        margins: {
                            top: 50,
                            left: 50
                        }
                    }
                );

                    pdf.saveAs({
                        fileName: "BankDetails"
                    });
                });
            });
        });
</script>
 
<script type="text/javascript">
    jQuery(function ($) {

        $("#exportButton1").click(function () {
            debugger;
            // parse the HTML table element having an id=exportTable
            var dataSource = shield.DataSource.create({
                data: "#tblBanks",
                schema: {
                    type: "table",
                    fields: {
                        "Sr. No": { type: Number },
                        "BankName": { type: String }, //space blank 
                        "City_Name": { type: String },
                        "Bank_ContactName": { type: String },
                        "Bank_ContactNo1": { type: String },
                        "Bank_EmailID1": { type: String }
                      
                    }
                }
            });

            // when parsing is done, export the data to PDF
            dataSource.read().then(function (data) {
                new shield.exp.OOXMLWorkbook({
                    author: "PrepBootstrap",
                    worksheets: [
                        {
                            name: "PrepBootstrap Table",
                            rows: [
                                {
                                    cells: [
                                        {
                                            style: {
                                                bold: true
                                            },
                                            type: Number,
                                            value: "Sr.No"
                                        },
                                        {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Bank Name"
                                        },
                                        {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "City Name"
                                        },
                                         {
                                             style: {
                                                 bold: true
                                             },
                                             type: String,
                                             value: "Bank Contact Name"
                                         },
                                         {
                                             style: {
                                                 bold: true
                                             },
                                             type: String,
                                             value: "Bank Contact No"
                                         },

                                         {
                                             style: {
                                                 bold: true
                                             },
                                             type: String,
                                             value: "Bank EmailID"
                                         }
                                             
                                    ]
                                }
                            ].concat($.map(data, function (item) {
                                debugger;
                                return {
                                    cells: [
                                        { type: Number, value: item["Sr. No"] },
                                        { type: String, value: item.BankName },
                                        { type: String, value: item.City_Name },
                                         { type: String, value: item.Bank_ContactName },
                                          { type: String, value: item.Bank_ContactNo1 },
                                           { type: String, value: item.Bank_EmailID1 }
//                                            { type: String, value: item.CityName }
                                    ]
                                };
                            }))
                        }
                    ]
                }).saveAs({
                    fileName: "BankBranchDetails"
                });
            });
        });
    });
</script>
    }