﻿@model RMMS_MVC.Models.RoleMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "RoleMaster", FormMethod.Post, new { id = "frmRoleMaster" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend visible="false"></legend>
        <table>
            <tr>
                @Html.HiddenFor(model => model.RoleID)
            </tr>
            <tr>
                <td>
                
                    *
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RoleName)
                    </div>
                </td>
                <td style="padding:10px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RoleName, new { maxlength = 50 })
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RoleDescription)
                    </div>
                </td>
                <td style="padding:10px">
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.RoleDescription, new { maxlength = 300 })
                       
                       @Html.Label("(Max 300 characters )")









                        @Html.ValidationMessageFor(model => model.RoleDescription)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
