﻿@model RMMS_MVC.Models.RoleMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "RoleMaster", FormMethod.Post, new { id = "frmRoleMaster" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RoleMaster</legend>
          @Html.HiddenFor(model => model.RoleID)
       

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleDescription)
            @Html.ValidationMessageFor(model => model.RoleDescription)
        </div>

    </fieldset>
}

