﻿@model RMMS_MVC.Models.ProblemCategoryMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm("Create", "ProblemCategoryMaster", FormMethod.Post, new { id = "frmProblemDetails" }))
{
    @Html.ValidationSummary(true)
    <style>
        .color-picker-container
        {
            max-width: 400px;
            margin: auto;
            margin-bottom: 30px;
                 z-index:-1;
        }
        
        #image-container
        {
            width: 232px;
            height: 238px;
            margin-left: 17px;
                 z-index:-1;
        }
        
        .color-picker-container h2
        {
            margin-left: 17px;
                 z-index:-1;
        }
        
        .color-picker-container td
        {
            padding: 10px;
            vertical-align: top;
            z-index:-1;
        }
    </style>
    @*<body>
        <input id="colorpicker" type="color" />
        <script type="text/javascript">
            jQuery(function ($) {
                $('#colorpicker').shieldColorPicker({
                    value: "#FFFF33",
                    palette: "advanced",
                    advancedPalette: { type: "rgb", buttons: true }
                });
            });
        </script>
    </body>*@
    
    <fieldset>
        <table>
         <tr>
                @Html.HiddenFor(model => model.ProblemCategoryId)
            </tr>

            <tr>
                <td>
                    *
                </td>
                <td >
                    @Html.LabelFor(model => model.ProblemCategory)
                </td>
                 <td style="padding:10px">
                    @Html.TextBoxFor(model => model.ProblemCategory, new { maxlength = 50 })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ProblemCategory)
                </td>
                </tr>
                <tr>
                <td></td>
           <td>
                    @Html.LabelFor(model => model.ProblemCategoryDescription)
                </td>
                <td style="padding:5px" >
                    @Html.TextAreaFor(model => model.ProblemCategoryDescription, new { maxlength = 300 })
                      @Html.Label("(Max 300 characters )")
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ProblemCategoryDescription)
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.ProblemColorCode)
                </td>
               <td style="padding:5px">
                @* <input class="jscolor" id=ProblemColorCode >*@
                <div id="cp2" class="input-group colorpicker-component">
                    @*<input type="text" value="#00AABB" class="form-control" />*@
             
                    @Html.TextBoxFor(Model => Model.ProblemColorCode, new { @class = "form-control" })
                    <span class="input-group-addon"><i></i></span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#cp2').colorpicker({
                            format: 'hex',
                            container: false
                        });
                    });
                </script>
        
        </td>
               
                <td>
                    @Html.ValidationMessageFor(model => model.ProblemColorCode)
                    
                </td>
            </tr>
        </table>
       
    </fieldset>
}

