﻿@model RMMS_MVC.Models.UserMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "UserMaster", FormMethod.Post, new { id = "frmUserMaster" }))
{
    @Html.ValidationSummary(true)
    <style type="text/css">
        .style3
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10px;
            width: 184px;
        }
        .label
        {
            font-size: 10px;
            width: 184px;
        }
    </style>
    <fieldset>
        <legend>UserMaster</legend>
        <table>
                      @Html.HiddenFor(model => model.UserID)
            <tr>
                <td>
                    * @Html.LabelFor(model => model.UserFullName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserFullName)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserFullName)
                </td>
                  <td>
                    * @Html.LabelFor(model => model.UserEmailID)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserEmailID , new { style = "width:165px", @class = "EmailID" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserEmailID)
                </td>
                </tr>
                <tr>
                <td>
                    * @Html.LabelFor(model => model.UserLoginName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserLoginName, new { style = "width:165px", @class = "LoginName" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserLoginName)
                </td>
                 <td>
                    * @Html.LabelFor(model => model.UserLoginPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.UserLoginPassword)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserLoginPassword)
                </td>
            </tr>
            <tr>
                 <td>
                    * @Html.LabelFor(model => model.UserConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.UserConfirmPassword)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserConfirmPassword)
                </td>
                <td>
                    * @Html.LabelFor(model => model.UserContactNo)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserContactNo)
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserContactNo)
                </td>
            </tr>
            <tr>
             <td>
                    * @Html.LabelFor(model => model.RoleID)
                </td>
                <td>
                 @Html.DropDownListFor(model => model.RoleID, new SelectList(ViewBag.Roles, "RoleID", "RoleName"), "Select Role", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.RoleID)
                </td>

                <td>
                    * @Html.LabelFor(model => model.DefaultPage)
                </td>
              <td>
                    @Html.DropDownList("Defaultdropdown", new List<SelectListItem>  
                    { new SelectListItem { Text = "SST Profile - Master Info", Value = "1"},  
                      new SelectListItem { Text = "Terminal Wise Availibility Report - Report", Value = "2"},  
                       new SelectListItem { Text = "Overall Terminal Status", Value = "3"}, 
              
                      }, "Select One Page", new { style = "width: 165px; height:25px" })
                     
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.DefaultPage)
                </td>
                </tr>
                <tr>
                <td>
                    * @Html.LabelFor(model => model.UserStatus)
                </td>
                <td>
                    @Html.DropDownList("Statusdropdown", new List<SelectListItem>  
                    { new SelectListItem { Text = "Active", Value = "1"},  
                      new SelectListItem { Text = "InActive", Value = "0"},  
              
                      }, "Select Status", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.UserStatus)
                </td>
                 <td>
                    * @Html.LabelFor(model => model.BankID)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.BankID, new SelectList(ViewBag.Banks, "BankID", "BankName"), "Select Bank", new { @id = "Bank", style = "width: 165px; height:25px" })

                    @*@Html.DropDownList("Bank", ViewBag.Banks as SelectList, "Select a Bank", new { id = "Bank", @class = "form-control" })<br />*@
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BankID)
                </td>
                 </tr>
            <tr>
            
                 
                   <td>
                    * @Html.LabelFor(model => model.RegionID)
                </td>
                <td>
                    @Html.DropDownList("Region", new SelectList(string.Empty, "Value", "Text"), "Select Region", new { style = "width:165px", @class = "dropdown1" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.RegionID)
                </td>
                 <td>
                    * @Html.LabelFor(model => model.BranchID)
                </td>
                <td>
                    @Html.DropDownList("Branch", new SelectList(string.Empty, "Value", "Text"), "Select Branch", new { style = "width:165px", @class = "dropdown1" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BranchID)
                </td>
               
            </tr>
        </table>
    </fieldset>
       <script>
           $('#UserEmailID').blur(function () {
               var emailId = $(this).val();
               if (emailId != '') {
                   var userName = emailId.split('@Html.Raw("@")')[0];
                   $("#UserLoginName").val(userName);
               }
           });
    </script>

}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
