﻿@model RMMS_MVC.Models.UserMaster
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
}
<div>
    <h2>
        User Details</h2>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
        onclick="clearTextBox();">
        Add New User</button>
    <button id="exportButton" class="btn btn-info">
        <span class="fa fa-file-pdf-o"></span>Export to PDF</button>
    <button id="exportButton1" class="btn btn-primary">
        <span class="fa fa-file-pdf-o"></span>Export to Excel</button>
    <br />
    <br />
    <div>
        <table id="tblUserMaster" class="table table-bordered table-hover">
            <thead style="background-color: #A41316; color: White;">
                <tr>
                   
                    <th>UserFullName</th>
                    <th>UserLoginName</th>
                    <th>UserEmailID</th>
                    <th>UserContactNo</th>
                
                    <th>UserStatus</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x
                    </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add User</h4>
            </div>
            <div class="modal-body">
               @Html.Action("Create", "UserMaster")
                @* <form>*@ 
               @*@Html.Action("CreateRole", "UserMaster")*@ @* <form>*@ 
            </div>
          
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add();">
                    Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none;"
                    onclick="Update();">
                    Update</button>
                     <button type="button" class="btn btn-primary" id="btnAdd" onclick="return clearTextBox();">
                   Clear</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts{
    @*https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js drop down Configurable*@
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
        type="text/css" rel="Stylesheet" />
    <script src="../../Scripts/UserMaster.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
   <script type="text/javascript">
       jQuery(function ($) {

           $("#exportButton").click(function () {
               debugger;
               // parse the HTML table element having an id=exportTable
               var dataSource = shield.DataSource.create({
                   data: "#tblUserMaster",
                   schema: {
                       type: "table",
                       fields: {

                           "UserFullName": { type: String }, //space blank 
                           "UserLoginName": { type: String },
                           "UserEmailID": { type: String },
                           "UserContactNo": { type: String },
                           "UserStatus": { type: String }
                       }
                   }
               });

               // when parsing is done, export the data to PDF
               dataSource.read().then(function (data) {
                   var pdf = new shield.exp.PDFDocument({
                       author: "PrepBootstrap",
                       created: new Date()
                   });

                   pdf.addPage("a4", "portrait");

                   pdf.table(
                    50,
                    50,
                    data,
                    [

                        { field: "UserFullName", title: "Full Name", width: 100 },
                        { field: "UserLoginName", title: "Login Name", width: 100 },
                        { field: "UserEmailID", title: "EmailID", width: 100 },
                        { field: "UserContactNo", title: "ContactNo", width: 100 },

                        { field: "UserStatus", title: "Status", width: 100 },


                    ],
                    {
                        margins: {
                            top: 50,
                            left: 50
                        }
                    }
                );

                   pdf.saveAs({
                       fileName: "UserMasterDetails"
                   });
               });
           });
       });
</script>
    <script type="text/javascript">
        jQuery(function ($) {

            $("#exportButton1").click(function () {
                debugger;
                // parse the HTML table element having an id=exportTable
                var dataSource = shield.DataSource.create({
                    data: "#tblSstGroup",
                    schema: {
                        type: "table",
                        fields: {
                            //  "Sr. No": { type: Number },
                            "UserFullName": { type: String }, //space blank 
                            "UserLoginName": { type: String },
                            "UserEmailID": { type: String },
                            "UserContactNo": { type: String },
                            "UserStatus": { type: String }

                        }
                    }
                });

                // when parsing is done, export the data to PDF
                dataSource.read().then(function (data) {
                    new shield.exp.OOXMLWorkbook({
                        author: "PrepBootstrap",
                        worksheets: [
                        {
                            name: "PrepBootstrap Table",
                            rows: [
                                {
                                    cells: [
                                    //                                        {
                                    //                                            style: {
                                    //                                                bold: true
                                    //                                            },
                                    //                                            type: Number,
                                    //                                            value: "Sr. No"  
                                    //                                        },                   
                                        {                                                          
                                        style: {                                                   
                                            bold: true
                                        },
                                        type: String,
                                        value: "Full Name"
                                    },         
                                        {      
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Login Name"
                                        },
                                         {      
                                            stye: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Email ID"
                                        },
                                         {      
                                            stye: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Contact No"
                                        },
                                        {      
                                            stye: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Status"
                                        },
                                    ]
                                }
                            ].concat($.map(data, function (item) {
                                debugger;
                                return {
                                    cells: [
                                    //  { type: Number, value: item["Sr. No"] },
                                        {type: String, value: item.GroupName },
                                        { type: String, value: item.GroupDescription }
                                    ]
                                };
                            }))
                        }
                    ]
                    }).saveAs({
                        fileName: "GroupDetails"
                    });
                });
            });
        });
</script>

@*<script type="text/javascript">

    $(document).ready(function () {

    $("#Region").change(function () {

                var id = $(this).val();

                $("#Branch").empty();

                $.get("GetBranch", { Region_id: id }, function (data) {

                    var v = "<option>---Select---</option>";

                    $.each(data, function (i, v1) {

//                        $("#Region").append('<option value="' + v1.Value + '">' + v1.Text + '</option>');
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                    });

                    $("#Branch").html(v);

                });

            });


             //Dropdownlist Selectedchange event
            $("#Bank").change(function () {
                var id = $(this).val();

                $("#Region").empty();

                $.get("GetRegion", { Bank_id: id }, function (data) {

                    var v = "<option>---Select---</option>";

                    $.each(data, function (i, v1) {

//                        $("#Bank").append('<option value="' + v1.Value + '">' + v1.Text + '</option>');
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";


                    });

                    $("#Region").html(v);

                });

            });
                //return false;
            })

//            $("#Bank").change(function () {

//                var id = $(this).val();

//                $("#Region").empty();

//                $.get("GetRegion", { Bank_id: id }, function (data) {

//                    var v = "<option>---Select---</option>";

//                    $.each(data, function (i, v1) {

//                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

//                    });

//                    $("#Region").html(v);

//                });

            });


            


        });  

</script>   *@

<script type="text/javascript">
    debugger;
    $(document).ready(function () {
        autoBind: true,
        $("#Region").change(function () {

            var id = $("#Region").val();
            var text = $(this).find('option:selected').text();

            $("#Branch").empty();

            $.get("GetBranch", { Region_id: id }, function (data) {

                var v = "<option>---Select---</option>";

                $.each(data, function (i, v1) {

                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                });
                //$("#Branch").val(v1);
                $("#Branch").html(v);
//                return $("#Branch option:selected").val();
                
            });

        });


        $("#Bank").change(function () {

            var id = $(this).val();

            $("#Region").empty();

            $.get("GetRegion", { Bank_id: id }, function (data) {

                var v = "<option>---Select---</option>";

                $.each(data, function (i, v1) {

                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                });

                $("#Region").html(v);
//                return $("#Region option:selected").val();
            });

        });

    });  

</script>   


<script type="text/javascript">
    
    $(document).ready(function () {
    debugger;
   
        $("#LoginName").keypress(updateTextBox2());
        function updateTextBox2() 
        {
        var xTriggered = 0;
        $("#LoginName").keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
        }
        xTriggered++;
        var txtBox = $('#EmailID').val();
        var result = txtBox.Split(@("@"));
        $('#LoginName').val() = result[0];
//        var msg = "Handler for .keypress() called " + xTriggered + " time(s).";
        $.print(result[0], "html");
        $.print(event);
        });
        }
        });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
    debugger;
        $('#LoginName').OnKeyPress(function() {
        debugger
        var txtBox = $('#EmailID').val();
        var result = txtBox.Split(@("@"));
        $('#LoginName').focus();
        $('#LoginName').val() = result[0];
        })
    });
</script>*@


@*<script type="text/javascript">
$(document).ready(function() () {
    var txtBox = $('#EmailID').val();
//    var txtBox = document.getElementById("EmailID");
    var result = txtBox.Split('@');
//     $.get("GetLoginName", { EmailID: name }, function (data) {
//     $("#LoginName").html(name);
    $('#LoginName').focus();
    $('#LoginName').val()=result[0];
//    document.getElementById("LoginName").value = result[name];
    //$("#LoginName").val("");

     });
</script>  *@

@*//        $(document).ready(function () {
//            $("#EmailID").change(function () {
//                var i = $("#EmailID :selected").val();
//                
//                var str = "";
//                for (var j = 1; j <= i; j++) {
//                    var id = "LoginName" + j;
//                    //Remember to add name attribute to get values at server side
//                    str = str + "<span>User " + j + " Login Name: </span><input type='text' id='" + id + "' name='" + id + "'/><br/>";
//                }
//                $("#content").html(str);
//            });
//        });
*@
 


   @* <script type="text/javascript">
        jQuery(function ($) {

            $("#exportButton").click(function () {
                debugger;
                // parse the HTML table element having an id=exportTable
                var dataSource = shield.DataSource.create({
                    data: "#tblUserMaster",
                    schema: {
                        type: "table",
                        fields: {
                             
                            "UserFullName": { type: String }, //space blank 
                            "UserLoginName": { type: String },
                            "UserEmailID": { type: String },
                            "UserContactNo": { type: String },
                            "UserStatus": { type: String }
                        }
                    }
                });

                // when parsing is done, export the data to PDF
                dataSource.read().then(function (data) {
                    var pdf = new shield.exp.PDFDocument({
                        author: "PrepBootstrap",
                        created: new Date()
                    });

                    pdf.addPage("a4", "portrait");

                    pdf.table(
                    50,
                    50,
                    data,
                    [
                      
                        { field: "UserFullName", title: "Full  Name", width: 100 },
                        { field: "UserLoginName", title: "Login Name", width: 100 },
                        { field: "UserEmailID", title: "EmailID", width: 100 },
                        { field: "UserContactNo", title: "ContactNo", width: 100 },
                       
                        { field: "UserStatus", title: "Status", width: 100 },
                      

                    ],
                    {
                        margins: {
                            top: 50,
                            left: 50
                        }
                    }
                );

                    pdf.saveAs({
                        fileName: "UserMasterDetails"
                    });
                });
            });
        });
</script>
    <script type="text/javascript">
        jQuery(function ($) {

            $("#exportButton1").click(function () {
                debugger;
                // parse the HTML table element having an id=exportTable
                var dataSource = shield.DataSource.create({
                    data: "#tblUserMaster",
                    schema: {
                        type: "table",
                        fields: {   
                        "UserFullName"  : { type: String }, 
                        "UserLoginName" : { type: String },
                        "UserEmailID"   : { type: String },
                        "UserContactNo" : { type: String },       
                        "UserStatus"    : { type: String }

                        }
                    }
                });

                // when parsing is done, export the data to PDF
                dataSource.read().then(function (data) {
                    new shield.exp.OOXMLWorkbook({
                        author: "PrepBootstrap",
                        worksheets: [
                        {
                            name: "PrepBootstrap Table",
                            rows: [
                                {
                                    cells: [
                                       
                                         {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        value: "Full Name"
                                       },       Login
                                        {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Login Name""
                                        }          
                                         {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "EmailID"
                                        }
                                         {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "ContactNo"
                                        }
                                         {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Role"
                                        }
                                         {
                                            style: {
                                                bold: true
                                            },
                                            type: String,
                                            value: "Status"
                                        }
                                    ]
                                }
                            ].concat($.map(data, function (item) {
                                debugger;
                                return {
                                    cells: [
                                        { type: Number, value: item["Sr. No"] },
                                        {type: String, value: item. UserFullName },
                                        {type: String, value: item. UserLoginName },
                                        {type: String, value: item. UserEmailID },
                                        {type: String, value: item. UserContactNo },
                                                                   
                                        {type: String, value: item. UserStatus }
                                    ]
                                };
                            }))
                        }
                    ]
                    }).saveAs({
                        fileName: "UserMasterDetails"
                    });
                });
            });
        });
</script>*@
}
