﻿@model RMMS_MVC.Models.BankBranchMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("CreateRegion", "BankBranchMaster", FormMethod.Post, new { id = "frmBankBranchMaster" }))
{
    @Html.ValidationSummary(true)
    <style type="text/css">
        .style3
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10px;
            width: 184px;
        }
        .label
        {
            font-size: 10px;
            width: 184px;
        }
    </style>

    <fieldset>
        <table>
            <tr>
                <tr>
                    @Html.HiddenFor(model => model.BranchID)
                </tr>
                <td>
                    *
                </td>
                <td style="width: 120px">
                    @Html.LabelFor(model => model.BankID)
                </td>
                <td style="padding:10px">
                    @Html.DropDownListFor(model => model.BankID, new SelectList(ViewBag.Banks, "BankID", "BankName"), "Select Bank", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BankID)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BranchName)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.BranchName,new { maxlength = 50 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BranchName)
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BranchCode)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.BranchCode, new { maxlength = 6 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BranchCode)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.Locality)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.Locality, new { maxlength = 50 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.Locality)
                </td>
            </tr>
            <tr data-group="Address" data-target="textarea">
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BranchAddress1)
                </td>
                <td style="padding:10px">
                    @Html.TextAreaFor(model => model.BranchAddress1, new { maxlength = 300 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BranchAddress1)
                @*    @Html.Label("(Max 300 Characters)")*@
                </td>
                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.BranchAddress2)
                </td>
                <td style="padding:10px">
                    @Html.TextAreaFor(model => model.BranchAddress2, new { maxlength = 300 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BranchAddress2)
                 @*   @Html.Label("(Max 300 Characters)")*@
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.CityID)
                </td>
                <td style="padding:10px">
                  @Html.DropDownListFor(model => model.CityID, new SelectList(ViewBag.cities, "CityID", "CityDisplayName"), "Select City", new { style = "width: 165px; height:25px" })

              

                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.CityID)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.RegionID)
                </td>
                <td style="padding:10px">
                    @Html.DropDownListFor(model => model.RegionID, new SelectList(ViewBag.Regions, " RegionID", "RegionName"), "Select Region", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.RegionID)
                </td>
            </tr>
        </table>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
