﻿@model RMMS_MVC.Models.RegionMaster
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "RegionMaster", FormMethod.Post, new { id = "frmRegionMaster" }))
{
    @Html.ValidationSummary(true)
    <style type="text/css">
        .style3
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10px;
            width: 184px;
        }
        .label
        {
            font-size: 10px;
            width: 184px;
        }
        
    </style>
    <fieldset>

        <table  >
            @Html.HiddenFor(model => model.RegionID)
            <tr>
                <td colspan="8">
                    @*  <img src= "@Url.Content("~/images/error.png")" alt="IMAGES" />*@
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.BankName)
                </td>
               @* <td>
                    @Html.EditorFor(model => model.BankName)
                </td>*@
                <td  style="padding:10px">
                    @Html.DropDownListFor(model => model.BankID, new SelectList(ViewBag.Banks, "BankID", "BankName"), "Select Bank", new { style = "width: 165px; height:25px" })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.BankID)
                </td>
                </tr>
                <tr>


                 <td>
                    *
                </td>
                <td>
                    @Html.LabelFor(model => model.RegionName)
                </td>
                <td style="padding:10px">
                    @Html.TextBoxFor(model => model.RegionName, new { maxlength = 50 })
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.RegionName)
                </td>
                </tr>
                <tr>

                <td>
                </td>
                <td>
                    @Html.LabelFor(model => model.RegionDescription)
                </td>
                <td style="padding:10px">
                    @Html.TextAreaFor(model => model.RegionDescription, new { maxlength = 300 })
                       @Html.Label("(Max 300 characters )")
                </td>
                <td class="style3">
                    @Html.ValidationMessageFor(model => model.RegionDescription)
                </td>   
                </tr>          
        </table>
    </fieldset>
}

