﻿@model RMMS_MVC.Models.DeviceStatusTypeProfile

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Create", "DeviceStatusTypeProfile", FormMethod.Post, new { id = "DeviceStatusTypeProfile" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
     <legend visible="false"></legend>
        <table>
            <tr>
                @Html.HiddenFor(model => model.StatusTypeID)
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td >
                    <div  class="editor-label">
                        @Html.LabelFor(model => model.StatusType)
                    </div>
                </td>
                <td style="padding:10px">
                    <div  class="editor-field" >
                        @Html.TextBoxFor(model => model.StatusType, new { maxlength = 50 })
                       @Html.ValidationMessageFor(model => model.StatusType)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    *
                </td>
                <td>
                    <div  class="editor-label">
                        @Html.LabelFor(model => model.StatusTypeDescription)
                    </div>
                </td>
                <td style="padding:10px">
                    <div   class="editor-field">
                        @Html.TextAreaFor(model => model.StatusTypeDescription, new { maxlength = 300 })
                                @Html.Label("(Max 300 characters )")
                        @Html.ValidationMessageFor(model => model.StatusTypeDescription)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
