﻿@model IEnumerable<RMMS_MVC.Models.OverAllSSTSSK>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "OverAllSSTSSKStatusGrid";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
    string jsonModel = JsonConvert.SerializeObject(Model);
    string SSTID = Request.QueryString["SSTID"];
}
<h2 align="center">
    <img height="45px" src="../../images/Open-Folder-Info.png" />
    OVERALL SST/SSK
</h2>
@*<h6 align="center" style="color: blue;">
    Auto refresh in every 30 Seconds.
</h6>*@
<script type="text/javascript">

    
</script>
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="initProblemRegionChart('');">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">
                    TOTAL TERMINALS</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">@Model.Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="initProblemRegionChart('LIVE');">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">
                    LIVE TERMINALS</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.MachineStatus == "LIVE").Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="initProblemRegionChart('Critical');">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">
                    CRITICAL</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.MachineStatus == "Critical").Count()</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="initProblemRegionChart('No Feed since last 30 minute');">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">
                    NO FEED SINCE LAST 30 MINUTE</div>
                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@Model.Where(r => r.MachineStatus == "No Feed since last 30 minute").Count()</div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 15px;">
        <div style="border: 1px solid silver;">
            <canvas id="problemChart"></canvas>
        </div>
    </div>*@
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 15px;">
        <div id="divProblemRegionChart" style="border: 1px solid silver; display: none;">
            <canvas id="problemRegionChart"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 15px;">
        <div style="border: 1px solid silver;" id="divScreenShots">
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="tblBanks" class="table table-bordered table-hover">
        <thead style="background-color: #A41316; color: White;">
            <tr>
                <th>
                    Sr. No
                </th>
                <th>
                    Screen Shot
                </th>
               @* <th>
                    Status
                </th>
                <th>
                    Remarks
                </th>*@
                <th>
                    Restart
                </th>
               @* <th>
                    RestartStatus
                </th>*@
                @*  <th>
            @Html.DisplayNameFor(model => model.IconText)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.TroubleTicketID)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SST_TerminalID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                @*  <th>
            @Html.DisplayNameFor(model => model.BranchCode)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SST_TYPE)
                </th>
                @*  <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProblemName)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.MachineStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstFeed_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastFeed_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time_Elapsed_in_Minute)
                </th>
                @*   <th>
            @Html.DisplayNameFor(model => model.SST_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_ServiceArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_TypeID)
        </th>
       
        
        <th>
            @Html.DisplayNameFor(model => model.ProblemID)
        </th>
      
       
        <th>
            @Html.DisplayNameFor(model => model.BankShotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankID)
        </th>
        
        <th></th>*@
            </tr>
        </thead>
        @{
            int index = 0;
            foreach (var item in Model)
            {
                index++;
            <tr>
                <td>
                    @index
                </td>
                <td>
                    <a href="javascript:initScreenShot('@item.SSTID');">
                        <img src="../../images/ScreenShot2.png" alt="Screen Shot" title="Click" /></a>
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>*@
                <td>
                    <a href="@Url.Action("Restart", "OverAllSSTSSKStatus", new { SSTID = item.SSTID })">
                        <img src="../../images/Restart6.jpg" alt="Restart" title="Click" /></a>
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.RestartStatus)
                </td>*@
                @*        <td>
                   <img src="~/images/@item.IconText" />
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.TroubleTicketID)
        </td>*@
                <td>
                    @Html.ActionLink(item.SST_TerminalID, "TerminalID", new { TerminalID = item.SST_TerminalID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.BranchCode)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SST_TYPE)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>*@
                <td style="background-color:#@item.Color;">
                    @Html.ActionLink(item.ProblemName, "Problem", new { TerminalID = item.SST_TerminalID }, new { style = "color:white;" })
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.Severity)
        </td>*@ @* @Html.DisplayFor(modelItem => item.MachineStatus)*@
                @if (item.MachineStatus == "LIVE")
                {
                    <td style="background-color: Green; color: White; display: block; overflow: auto;
                        height: 5em; width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                else if (item.MachineStatus == "No Feed since last 30 minute")
                {
                    <td style="background-color: Orange; color: Black; display: block; overflow: auto;
                        height: 5em; width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                else if (item.MachineStatus == "NON CRITICAL")
                {
                    <td style="background-color: Yellow; color: Black; display: block; overflow: auto;
                        height: 5em; width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                else if (item.MachineStatus == "WARNING")
                {
                    <td style="background-color: Orange; color: White; display: block; overflow: auto;
                        height: 5em; width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                else if (item.MachineStatus == "Critical")
                {
                    <td style="background-color: Red; color: Black; display: block; overflow: auto; height: 5em;
                        width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                else
                {
                    <td style="background-color: Blue; color: White; display: block; overflow: auto;
                        height: 5em; width: 10em;">
                        @Html.DisplayFor(modelItem => item.MachineStatus)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FirstFeed_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastFeed_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_Elapsed_in_Minute)
                </td>
                @*        <td>
            @Html.DisplayFor(modelItem => item.SST_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSTID)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.RegionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_ServiceArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_TypeID)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.ProblemID)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.BankShotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankID)
        </td>*@
            </tr>
            }
        
        }
    </table>
</div>
@section Scripts{
    @*https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js drop down Configurable*@
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
        type="text/css" rel="Stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/linq.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var dynamicColors = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };
    </script>
    <script type="text/javascript">
        var disableRefresh=false;
        var model= @Html.Raw(jsonModel);
        var problemModel=[];
        function initProblemChart(){
            problemModel=Enumerable.From(model).GroupBy("$.MachineStatus").Select("r => { MachineStatus : r.Key(), details : r.ToArray() }").ToArray();
            return;
            problemModel = problemModel.map(function(o){
                o.backgroundColor = dynamicColors();
                return o;
            });
            var ctx = document.getElementById('problemChart').getContext('2d');
            ctx.height = 300;
            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: {
                        datasets: [{
                            backgroundColor: problemModel.map(function(o){return o.backgroundColor}),
                            data: problemModel.map(function(o){return o.details.length})
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels:problemModel.map(function(o){return o.MachineStatus})
                    },
                options: {
                    title: {
                        display: true,
                        fontSize:20,
                        text: 'Terminal Status',
                        padding: 5,
                        fontColor: "black"
                    },
                    responsive: true,
                    maintainAspectRatio: true,    
                    onClick:function(c,i){
                        e = i[0];
                        initProblemRegionChart(problemModel, e._index);
                        },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            });
        }
        function initProblemRegionChart(status){
            var problemRegionModel=[];
            if(status!='')
            {
                problemRegionModel = Enumerable.From(model).Where("m=>m.MachineStatus=='"+status+"'").GroupBy("$.RegionName").Select("r => { regionName : r.Key(), details : r.ToArray() }").ToArray();
            }
            else
            {
                problemRegionModel = Enumerable.From(model).GroupBy("$.RegionName").Select("r => { regionName : r.Key(), details : r.ToArray() }").ToArray();
                 status = "Total Terminals";
                }
            problemRegionModel = problemRegionModel.map(function(o){
                o.backgroundColor = dynamicColors();
                return o;
            });
            $("canvas#problemRegionChart").remove();
            $('#divProblemRegionChart').append('<canvas id="problemRegionChart"></canvas>');
            $('#divProblemRegionChart').show();
            var ctxProblemRegionChart = document.getElementById('problemRegionChart').getContext('2d');
            var details = {
                type: 'bar',
                data: {
                        datasets: [{
                            label:"Regions",
                            backgroundColor: problemRegionModel.map(function(o){return o.backgroundColor}),
                            data: problemRegionModel.map(function(o){return o.details.length}),
                            //xAxisID:"0"
                            //yAxisID:"0"
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels:problemRegionModel.map(function(o){return o.regionName})
                    },
                options: {
                    title: {
                        display: true,
                        fontSize:20,
                        text: status,
                        padding: 5,
                        fontColor: "black"
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                        fontColor: "#000080"
                        }
                    },
                    scales:{
                        yAxes:[
                            {
                                ticks:{
                                    beginAtZero:true
                                }
                            }
                        ]
                    }
                }
            };
            var problemRegionChart = new Chart(ctxProblemRegionChart,details);
            //problemRegionChart.destroy();
            //problemRegionChart = new Chart(ctxProblemRegionChart,details);
        }
        $('#tblBanks').DataTable({ "lengthMenu": [[10, 25, -1], [10, 25, "All"]] });
        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                if(!disableRefresh) {
                    location.reload(true);
                }
            }, timeoutPeriod);
        }
        function more(e) {
            $(e).closest('span').hide();
            $(e).closest('td').children('span.more').show();
        }
        function less(e) {
            $(e).closest('span').hide();
            $(e).closest('td').children('span.less').show();
        }
        //initProblemChart();
        initProblemRegionChart('');
        timedRefresh(60000);
    </script>
    <script type="text/javascript">
        var counter;
        var input = {};
        function initScreenShot(SSTID) {
            $.ajax({
                url: "/OverAllSSTSSKStatus/SSTID?SSTID=" + SSTID,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    counter = 0;
                    input = result;
                    disableRefresh = true;
                    showScreenShotResult(result);

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            //divScreenShots
        }
        function showScreenShotResult() {
            setTimeout(function () {
                $.ajax({
                    url: "/OverAllSSTSSKStatus/RefreshScreenShot?ScheduleIDList=" + input.scheduleIdList,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $('#divScreenShots').html(result);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                if (counter < 12)
                    showScreenShotResult(input, counter++);
                else {
                    disableRefresh = false;
                    timedRefresh(60000);
                }
            }, 5000);
        }
    </script>
}
