﻿@model IEnumerable<RMMS_MVC.Models.RestartResult>

@{
    ViewBag.Title = "Restart";
    Layout = "~/Views/Shared/_RMMSLayout.cshtml";
}

<h2 align="center">
    <img height="45px" src="../../images/Screenshot-icon.png" /> Restart
</h2>
<div class="table-responsive">
<table id="tblBanks" class="table table-bordered table-hover">
<thead style="background-color: #A41316; color: White;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SSTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_ServiceArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SST_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
    </tr>
</thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SSTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_ServiceArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SST_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
       
    </tr>
}

</table>
</div>
