﻿@model RMMS_MVC.Models.ScreenShotResult
@{
    //ViewBag.Title = "SSTID";
    //Layout = "~/Views/Shared/_RMMSLayout.cshtml";
}
<style type="text/css">
#tblScreenShot th
{
    text-align:right;
    padding-right:5px;
    width:50%;
    }
</style>
<h2 align="center">
    <img height="45px" src="../../images/Screenshot-icon.png" />
    Screen Shot
</h2>
<div class="table-responsive">
    <table id="tblScreenShot" class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TerminalID)
            </th>
            <td>
                @Html.DisplayFor(model => Model.TerminalID)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SST_ServiceArea)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.SST_ServiceArea)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.BankName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.RegionName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.BranchName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SST_TYPE)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.SST_TYPE)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperationStatus)
            </th>
            @if (Model.OperationStatus == "Success")
            {
                <td style="background-color: Green; color: White; display: block; overflow: auto;width:120px;">
                    @Html.DisplayFor(modelItem => Model.OperationStatus)
                </td>
            }
            else
            { 
                <td>
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <td>
                @Html.ActionLink(Model.Status, "Download")
            </td>
        </tr>
    </table>
</div>
